@media only screen and (max-width: 767px) { /*smartphones*/
    .body {
        width: calc(100%-20px);
        height: 200%;
        position: absolute;
        top: 50px;
        left: 0;
        font-size: 12px;
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
    }
    h1 {
        text-align: center;
    }
    
    .footer{
        bottom: -125%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) { /*tablets*/
    .body {
        width: calc(100%-20px);
        height: 200%;
        position: absolute;
        top: 50px;
        left: 0;
        font-size: 16px;
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
    }
    h1 {
        text-align: center;
    }
    
    .footer{
        bottom: -100%;
    }
}

@media only screen and (min-width: 992px) { /*laptops and pcs*/
    .body {
        width: calc(100%-20px);
        height: 200%;
        position: absolute;
        top: 50px;
        left: 0;
        font-size: 24px;
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
    }
    h1 {
        text-align: center;
    }
    
    .footer{
        bottom: -200%;
    }
}